#age {
    padding: 0.2rem 0.4rem;
    background-color: #3b4252;
    color: #a3be8c;
    font-family: "Red Hat Mono", monospace;
    font-weight: 500;
    font-size: 0.9em;
    border-radius: 0.2rem;
}
