#me {
    float: right;
    margin: 1rem 0 2rem 2rem;
    transition: 200ms ease-in-out transform;
    position: relative;
    line-height: 0;

    img {
        border-radius: 0.25rem;
    }

    /* transitioning box shadows without performance hit */
    &::before,
    &::after {
        content: "";
        position: absolute;
        inset: 0;
        transition: 200ms ease-in-out opacity;
    }
    &::before {
        box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.2);
        opacity: 1;
    }
    &::after {
        box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.4);
        opacity: 0;
    }
    &:hover {
        &::before {
            opacity: 0;
        }
        &::after {
            opacity: 1;
        }
        transform: scale(1.05) rotateZ(1deg);
    }
}

/* wave */
#me {
    #wave {
        inset: 0;
        line-height: normal;
        font-size: 2rem;
        width: max-content;
        height: max-content;
        position: absolute;
        margin: auto auto auto 0;
        transform: translateY(100%);
        opacity: 0;
        transition: 200ms ease-in-out all;
        transition-property: opacity transform;
    }
    &:hover {
        #wave {
            transform: translate(-75%, 100%);
            opacity: 1;
            z-index: 1;
        }
    }
}