.project-grid {
    width: 95%;
    margin: 0 auto;    
}
.project-header {
    display: flex;
    gap: 1rem;
    align-items: center;
}
.tags {
    gap: 1rem;
}
.tags > p {
    width: max-content;
    display: inline-block;
    padding: 0.2rem;
    background-color: var(--clr-bg-1);
    margin: 0;
    margin-bottom: 0.3rem;
    margin-right: 0.3rem;
    font-size: 0.8em;
}

