.project-list {
    width: 95%;
    margin: 0 auto;
    list-style-type: none;
    padding: 0;

    .project-list-item {
        margin: 2rem 0;
        border-radius: 0.5rem;

        .project-list-item__timestamp {
            font-size: 0.9rem;
            opacity: 0.7;
            margin: 0;
        }

        .project-list-item__header {
            display: flex;
            align-items: center;
            margin-top: 0.5em;
            flex-wrap: wrap;
            gap: 0.33rem 0.66rem;

            h3 {
                margin: 0;
            }

            .project-list-item__tags {
                gap: 0.33rem;
                display: flex;
                flex-wrap: wrap;

                span {
                    width: max-content;
                    display: inline-block;
                    padding: 0.2rem 0.4rem;
                    border-radius: 0.2rem;
                    background-color: var(--clr-bg-1);
                    font-size: 0.8em;
                }
            }
        }
    }

    .divider {
        height: 1px;
        width: 50%;
        margin-bottom: 1.75rem;
        background-color: var(--clr-bg-1);
    }
}
