---
layout: base.njk
---
<main>
    <article class="content">
    <a href="/projects">Tilbage til projektliste</a>
    <time class="article-date">{{ date | formattedDate }}</time>
    <h1 class="article-heading">{{ title }}</h1>
    <p>{{ description }}</p>
    {{ content | safe }}
    </article>
</main>
