<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tphollebeek | {{ title }}</title>
    <link href="https://unpkg.com/prismjs@1.20.0/themes/prism-nord.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <h1>
            <a href="/">tphollebeek</a>
        </h1>
        <a href="/about">om mig</a>
        <a href="/projects">projekter</a>
    </header>
    {{ content | filterOffsiteAnchors | safe }}
</body>
</html>
