<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav>
        <h1>
            <a href="/">tphollebeek</a>
        </h1>
        <a href="/about">om mig</a>
        <a href="/projects">projekter</a>
    </nav>
    {{ content | safe }}
</body>
</html>