<ul class="project-list">
    {%- for project in collections.project | reverse -%}
    <li class="project-list-item">
        <p class="project-list-item__timestamp">{{ project.date | formattedDate }}</p>
        {% include 'project-list-item-header.njk' %}
        <p>{{ project.data.description }}</p>
        <a href="{{ project.url }}">Læs mere</a>
    </li>
    {%- endfor -%}
</ul>