<div class="project-list-item__header">
    <h3>{{ project.data.title | lower }}</h3>
    <div class="project-list-item__tags">
        {%- for tag in project.data.tags -%}
            {%- if tag != "project" -%}
            <span>{{ tag }}</span>
            {%- endif -%}
        {%- endfor -%}
    </div>
</div>
