:root {
    --primary-100: #F0F3F9;
    --primary-200: #D3DBEE;
    --primary-300: #8BA0D0;
    --primary-400: #647FBF; 
    --primary-700: #32538E;
    --primary-900: #1E2B48;

    --accent-800: #1f1f1f;
    --accent-900: #0f0f0f;
}

*,
*::before,
*::after {
    margin: 0px;
}

*:focus-visible {
    background: var(--primary-900);
    color: var(--primary-200);
}

::selection {
    background-color: var(--primary-900);
    color: var(--primary-100);
    fill-opacity: 0.5;
    text-shadow: none;
}

body {
    background-color: var(--accent-800);
    background: url('assets/images/header-square.jpg');
    background-size: cover;
    background-repeat: no-repeat;    
    height: 100vh;

    font-size: 1.3125rem;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    color: var(--primary-200);
}

.toolbar-menu {
    width: 50%;
    transform: translate(50%, 0);
    display: flex;
    justify-content: space-evenly;
    padding: 2rem 0;
}

.toolbar-link {
    color: var(--primary-100);

    font-family: 'Roboto Condensed', 'Arial Black', Arial, Helvetica, sans-serif;
    font-size: 1.4rem;

    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.1em;

    transition: color, text-shadow 0.1s ease;
}
.toolbar-link:hover {
    color: var(--primary-200);
    text-shadow: 0.15em 0.15em 0 var(--primary-900);
    cursor: pointer;

    transition: color, text-shadow 0.2s ease    ;
}
.toolbar-link:focus-visible {
    text-shadow: none;
}

.section {
    box-sizing: border-box;
    width: 100%;
    padding: 2rem 16rem;
    background-color: var(--accent-900);
    overflow: auto;
}

h1 {
    font-size: 2.25rem;
    font-family: 'Roboto Condensed', 'Arial Black', Arial, Helvetica, sans-serif;
    color: var(--primary-400);
    text-shadow: 3px 3px 1px var(--accent-800);
    text-transform: capitalize;

    padding-bottom: 0.5em;
}

h1::after {
    content: "";
    
    display: inline-block;
    position: relative;

    background-color: var(--accent-800);
    border: 0.075em solid var(--accent-800) ;

    width: 50%;
    margin: 0.5625em 0.5em 0.3625em;
}

h2 {
    font-size: 1.6rem;
    color: var(--primary-300);
    text-transform: capitalize;

    padding-bottom: 0.5em;
}

h2::after {
    content: "";
    
    display: inline-block;
    position: relative;

    background-color: var(--accent-800);
    border: 0.075em solid var(--accent-800) ;

    width: 10%;
    margin: 0.5625em 0.5em 0.3625em;
}

p, img {
    padding: 0 0 0.5em;
    line-height: 1.5;
}

img {
    pointer-events: none;
}
img::selection {
    color: transparent;
    background-color: transparent;
}

a {
    color: var(--primary-400);
}
a::hover {
    cursor: pointer;
}

.icon {
    height: 3.25rem;
    float: right;
    padding: 0 0 0 0;
}

.footer {
    position: absolute;
    bottom: 0;
}

.me {
    float: left;
    padding-right: 2rem;
}

.project {
    border: 1px solid var(--primary-100);
    width: 50%;
}

@media only screen and (max-width: 1200px) {
    .toolbar-menu {
        width: 90%;
        transform: translate(5%, 0);    
    }
    .section {
        padding: 2rem 4rem;
    }
}

@media only screen and (max-width: 800px) {
    body {
        background: url('assets/images/header-square.jpg');
    }
    .section {
        width: 75%;
        margin: 0 0 0 25%;
        padding: 2rem;
    }
    .toolbar-menu {
        box-sizing: border-box;
        z-index: 500;

        padding: 2%;

        position: fixed;
        width: 25%;
        height: 100%;
        left: 0;
        top: 0;
        transform: none;

        flex-direction: column; 
        background-color: var(--accent-800);
    }
    .toolbar-link {
        font-size: 1rem;
        hyphens: auto;
        -webkit-hyphens: auto;
    }
    .toolbar-divider {
        display: none;
    }
    .me {
        float: none;
    }
    .project {
        width: 100%;
        height: 100%;
    }
}