@import 'global';
@import 'nord-highlight';
@import 'components/font';
@import 'components/header';
@import 'components/project-list';
@import 'components/me';
@import 'media';

body {
    margin: 0;
    background:
        url("/images/top-left.svg") top left no-repeat,
        url("/images/bottom-right.svg") bottom right no-repeat,
        radial-gradient(circle farthest-side at 0% 0%, var(--clr-bg-1) -50%, transparent 30%),
        radial-gradient(circle farthest-side at 100% 100%, var(--clr-bg-1) -50%, transparent 30%),
        var(--clr-bg-0);
    background-color: var(--clr-bg-0);
    color: var(--clr-text);
    font-family: "Public Sans", sans-serif;
    font-size: 1.1em;
    line-height: 1.5;
    min-height: 100vh;
    padding-bottom: 3.5rem;
}

h1, h2 {
    color: var(--clr-brand);
    font-style: italic;
}

a {
    color: var(--clr-brand);
}

pre, code {
    font-size: 1rem;
    font-weight: 500;
    font-family: "Red Hat Mono", monospace;
}

code {
    background-color: var(--clr-bg-1);
    padding: 0.15rem 0.2rem;
    border-radius: 0.2rem;
}

pre {
    padding: 0.7rem;
    border-radius: 0.5rem;
    overflow-x: auto;
}


img {
    max-width: 100%;
}

.content {
    max-width: 1000px;
    padding: 0 clamp(1.5rem, 8vw, 3rem);
    margin: 0 auto;
}
