::selection {
	background-color: black;
	color: white;
}

* {
    font-family: monospace;
	cursor: default;
}

h1 {
	font-family: inherit;
	text-align: center;
	font-size: 4em;
}

pre.game {
	margin: 0px;
	font-size: 8vh;
	text-align: center;
	line-height: 1.125;

	user-select: none;
}

pre.game>button {
	border: 0px;
	padding: 0px;
	outline: 0px;
	background-color: white;
	font: inherit;
	cursor: default;
}

pre.game>button[taken*='#'] {
	color: rgba(0, 0, 0, 0.2);
	cursor: pointer;
}

div {
	position: relative;
	width: max-content;
	margin: auto;
}

t {
	margin: 0px;
	font-family: inherit;
	text-align: center;
	font-size: 2vh;
}

t>input {
	font: inherit;
	width: 5vw;
	cursor: auto;
}

button {
	padding: 0px;
	border: 0px;
	vertical-align: bottom;
	background-color: white;
}

button > * {
	cursor: pointer;
}