---
title: Om Mig
layout: 'base.njk'
---

<main>
    <section>
        <div class="content">
            <h2>bag skærmen</h2>
            <div id="me"><img src="/images/me.png" width="175"
                    alt="en smilende dreng med langt lyst hår og en grå sweater">
            </div>
            <p>Mit navn er Theis Pieter Hollebeek, jeg er en 17 år gammel studerende og programmør.</p>
            <p>Jeg har haft interesse for teknologi siden jeg var meget lille, og har programmeret siden jeg var 13
                år
                gammel.</p>
            <p>Programmering er noget jeg virkelig brænder for, primært på grund af den problemløsning der kommer
                fra
                det,
                og den tilfredshed, der kommer af at endelig kunne se noget man har arbejdet på være færdigt.</p>
            <p>Jeg har også tidligere brugt meget af min tid på at hjælpe nybegyndere med at lære at programmere på
                forskellige internetfora, men efter jeg startede på gymnasiet har jeg ikke haft tiden til det.</p>
            <p>Udenfor programmering har jeg også stor interesse for longboarding og skateboarding generelt, og
                musik.
            </p>
        </div>
    </section>
    <section>
        <div class="content">
            <h2>erfaring</h2>
            <p>Projekter: <a href="/projects">Mine projekter</a>.</p>
        </div>
    </section>
</main>