<!DOCTYPE html>
<html lang="da">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Theis Pieter Hollebeek</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <nav>
        <h1>
            <a href="/">tphollebeek</a>
        </h1>
        <a href="/about">omkring mig</a>
        <a href="/projects">projekter</a>
    </nav>
    <main>
        <section>
            <div class="content">
                <h2>projekter</h2>
                <p>Her kan du se de projekter som jeg har arbejdet på.</p>
                <div class="project-list">
                    <div class="project">
                        <h3>example project</h3>
                        <div class="tags">
                            <p><span class="icon">☣️</span> Rust</p>
                            <p><span class="icon">☣️</span> Not Rust</p>
                        </div>
                        <p>thing explaining example project</p>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>

</html>