---
title: projekter
layout: 'base.njk'
---

<main>
    <section>
        <div class="content">
            <h2>projekter</h2>
            <p>Her er en liste af nogle af de mange projekter jeg har arbejdet på.</p>
            <p>Langt de fleste af disse projekter kan også findes på <a href="https://www.github.com/camper0008">min GitHub</a>.</p>
            {% include 'project-list.njk' %}
        </div>
    </section>
</main>
