---
title: Projekter
layout: 'base.njk'
---

<main>
    <section>
        <div class="content">
            <h2>projekter</h2>
            <p>Her kan du se de projekter som jeg har arbejdet på.</p>
            {% include 'project-list.njk' %}
        </div>
    </section>
</main>